<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <div>
      <h1>Total Number Of Users - <%= totalCount %></h1>
      <form method="get" action="/user/register">
        <button class="joinBtn">Join Us!! 💀</button>
      </form>
    </div>
  </body>
</html>
